# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment
venv/
env/
*.env
.env.*

# Flask instance folder
instance/
*.db
*.sqlite3

# Logs
*.log

# IDE / Editor
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Python packaging
build/
dist/
*.egg-info/

# Byte-compiled / optimized / DLL files
*.so

# Cache
.cache/
.pytest_cache/

uploads/
